/* https://colorhunt.co/palette/206664 */

html, body {
    background-color: #212121;
    font-family: 'Raleway', sans-serif;
    margin: unset;
    padding: unset;
}

header {
    background-color: #0d7377;
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.3em;
    margin-right: 1.3em;
}

header h1 {
    margin: unset;
    margin-left: 1.3em;
    margin-bottom: 0.2em;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    padding: unset;
}

header button {
    min-width: 13em;
    font-size: 1.2em;
}

#products, #cart {
    border-style: solid;
    border-width: 0.2em;
    border-color: #0d7377;
    margin:1.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#cart {
    flex-wrap: nowrap;
    flex-direction: column;
}

.film {
    border-style: solid;
    border-width: 0.2em;
    border-color: #0d7377;
    color: #eeeeee;
    margin:1.3em;
    max-width: 20em;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

p.info, p.cardInfo {
    margin-top: unset;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

p.cardInfo, .cardTitle {
    margin-bottom: 0.3em;
}

.tableCard {
    color: #eeeeee;
    border-bottom: 1px solid #0d7377;
}

table {
    border-collapse: collapse;
}

.title, .cardTitle {
    text-transform: uppercase;
    font-size: 1em;
}

.cardTitle {
    padding-left: 1em;
}

p.cardInfo {
    padding-left: 2em;
}


#cart table tr td img {
    max-width: 7em;
    max-height: 7em;
}

button {
    background-color: #32e0c4;
    border:unset;
    min-height: 4em;
    text-transform: uppercase;
    color: #0d7377;
    font-weight: 1000;
    font-size: 0.85em;
}

.cartBtn {
    font-size: 1.2em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 571px) {
    header {
        margin: unset;
    }
    #products, #cart {
        border: unset;
        margin:0.3em;
    }
    header button {
        min-width: 5.6em;
        font-size: 1.2em;
    }
    header h1 {
        margin-left: 0.3em;
    }
} 